* {
    margin: 0;
    padding: 0;
}

.flex-container,
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt {
    margin: 16px;
    padding: 12px 24px;
}

.main-container {
    max-width: 960px;
    max-height: 960px;
    margin: auto;
}
.box {
    min-width: 8px;
    min-height: 8px;
    border: 1px solid black;
    flex: 1;
}